/** #header should always be on top **/
#header {
	z-index: 100;
}
.header-fixed #header 	{
//	z-index: 100;
}


.panel-footer {
	position: relative;
	bottom: 0;
	left: 0;
	min-height: 40px;
	width: 100%;
//	background-color: rgba(150, 149, 114, 0.7);
	background-color: rgba(248, 249, 250, 0.7);
	text-overflow: ellipsis;
	overflow: hidden;
	clear: both;
	padding: 10px;
	display: block;
}

/** unitegallery color changes **/
.ug-gallery-wrapper .ug-slider-wrapper {
	background-color: #FFFEFC;
}

/** additional settings for catalog **/
.flex-top-centered {
  align-items: top;
  display: flex;
  justify-content: center;
}