{% set grid_size = theme_var('grid-size') %}
{% set columns = page.header.class == 'small' ? 'col-3 col-md-4 col-sm-6' : 'col-4 col-md-6 col-sm-12'  %}
<section id="modular-features" class="section {{ page.header.class}}">
        <section class="container {{ grid_size }}">
            <div class="frame-box">

                {{ content }}

                <div class="columns">
                {% for feature in page.header.features %}
                   <div class="column {{ columns }}">
                       <div class="feature-icon">
                          {% if feature.linkurl %}<a href="{{ feature.linkurl }}">{% endif %}
                          <i class="{{ feature.icon }}"></i>
                          {% if feature.linkurl %}</a>{% endif %}
                       </div>
                       <div class="feature-content">
                           {% if feature.header %}
                              {% if feature.linkurl %}<a href="{{ feature.linkurl }}">{% endif %}
                              <h4>{{ feature.header }}</h4>
                              {% if feature.linkurl %}</a>{% endif %}
                           {% endif %}
                           {% if feature.text %}
                            <p>{{ feature.text }}</p>
                           {% endif %}
                       </div>
                   </div>
                {% endfor %}
                </div>
            </div>
        </section>
</section>
