{% set grid_size = theme_var('grid-size') %}
{% set hero_image = page.header.hero_image ? page.media[page.header.hero_image] : page.media.images|first %}


{{ dump(hero_image) }}
{% if page.header.content %}
	{% include 'partials/lightslider.html.twig' %}
{% else %}
	{% include 'partials/hero.html.twig' with {id: 'modular-hero'} %}
{% endif %}