<section id="modular-text" class="section {{ page.header.class }}">
	<section class="container {{ grid_size }}">
		<div class="columns">
			<div class="column col-md-12">
			{{ page.content}}
			{% include 'partials/lightslider.html.twig' %}
			</div>
		</div>
	</section>
</section>
