{% set catalog_image = page.media.images|first %}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h3><a href="{{ page.url }}">{{ page.header.category }}</a></h3>
        </div>
    </div>
    <div class="card-image">
        <a href="{{ page.url }}">{{ catalog_image.html(page.header.category,'product-thumb-image')|raw }}</a>
    </div>
</div>
