{% set catalog_image = page.media.images|first %}

<div id="catalog-info" class="container">
	{{ page.order|trim('.') }}

	<div id="catalog-details" class="columns" itemscope itemtype="http://schema.org/Product">
		<div class="column col-md-12 show-md hide-lg">
			<h2 itemprop="name">{{ page.header.title }} <br />
				<span id="sku" itemprop="sku"><strong>SKU: {{ page.header.sku|upper }}</strong></span>
			</h2>
		</div>
		<div class="catalog-thumb column col-lg-6 col-md-12 centered">
			<div class="centered">
			{% if catalog_image %}
				{{ catalog_image.cropResize(400,400).html(page.header.title, 'catalog-thumb-image', "centered")|raw}}
			{% endif %}
			</div>
		</div>

		<div class="catalog-detail column col-lg-6 col-md-12 centered">
			<h1 class="hide-md" itemprop="name">{{ page.header.title }}</h1>
			<h6 class="hide-md" itemprop="sku"><strong>SKU: {{ page.header.sku|upper }}</strong></h6>

			<div id="details-container">
				<div id="finishes-container" class="hide-md">
					<h6 class="float-right">SELECTED: <span>{{ page.find('/images/finishes/').media[header.current_finish].metadata.description|upper }}</span></h6>
					<h6 class="float-left">AVAILABLE FINISHES:</h6>
					<ul class="thumbnail-list hide-md">
						{% for finishing in header.finishes %}
						{% set img = page.find('/images/finishes/').media[finishing.image] %}
						<li {% if finishing.image == header.current_finish %}class="selected"{% endif %}>
							<a href="{{ finishing.page }}" class="tooltip {% if loop.first %}tooltip-right{% endif %}" data-tooltip="{{ img.metadata.description }}">
								<img src="{{img.url}}" class="finishes-thumbnail" alt="{{ img.metadata.description }}">
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="finishes-mobile show-md col-md-12">
					<h6><strong>AVAILABLE FINISHES:</strong></h6>
					<select id="availableFinishes">
						{% for finishing in header.finishes %}
						{% set img = page.find('/images/finishes/').media[finishing.image] %}
						{{ dump(finishing.image) }}
						<option {% if finishing.image == header.current_finish %}selected="selected"{% endif %} value="{{ finishing.page }}" data-url="{{ finishing.page }}" data-imagesrc="{{ img.url }}">{{ img.metadata.description }}</option>
						{% endfor %}
					</select>
					<br />
				</div>
			</div>
		</div>
	</div>
	<div class="columns bg-gray">
		<div class="column col-md-12">
			{{ page.content | raw }}
		</div>
	</div>
</div>