
{% set catalog_image = page.media.images|first %}

<div class="card">

	{{ page.order|trim('.')}}

	<div class="card-header">
		<div class="card-title">
			<h3><a href="{{ page.url }}">{{ page.header.title }}</a></h3>
		</div>
	</div>
	<div class="card-image">
		<a href="{{ page.url }}">{{ catalog_image.html(page.header.category,'product-thumb-image')|raw }}</a>
	</div>
	<div class="card-footer centered">
		<a href="{{ page.url }}" 
			class="btn btn-small">
			<i class="fa fa-info-circle"></i> Details
		</a>
	</div>
</div>