<div class="columns">
	<div class="column col-md-4 col-sm-12" align="left">
		<h5>Drop us a line</h5>
		<p>Complete the form below and a member of our friendly team will contact you soon!</p>
		{% include 'forms/form.html.twig' with { form: forms('contact-us')} %}
	</div>
	<div class="column col-md-4 col-sm-12">
		<h5>Visit us</h5>
		<span><i class="fa fa-map-marker"></i></span><br />
		{% for office in config.company.office %}
			<span>{{ office.address1 }}</span><br />
			{% if office.address2 %}
			<span>{{ office.address2 }}</span><br />
			{% endif %}
		{% endfor %}
		<br>
		<iframe width="100%" id="gmap_canvas" src="https://maps.google.com/maps?q={{ config.company.office[0].address1~" "~ config.company.office[0].address2 }}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
		<br>
	</div>
	<div class="column col-md-43 col-sm-12">
		<h5>Contact Us</h5>
		{% for icon,contact in config.company.contact_number %}
			<span><i class="fa fa-{{ icon }}"></i><a href="tel:{{ contact }}"> {{ contact }}</a></span><br>
		{% endfor %}
		{% for icon,email in config.company.email %}
			<span><i class="fa fa-envelope"></i><a href="mailto:{{ email|safe_email }}"> {{ email|safe_email }}</a></span><br>
		{% endfor %}
	</div>
</div>
<hr>
<div class="copyright">
<p align="right">{{ config.company.copyright|raw}}</p>
</div>