{% set settings = {} %}

{% if header.lightslider %}
	{% set settings = header.lightslider %}
{% endif %}

{% if page.header.lightslider %}
	{% set settings = settings|merge(page.header.lightslider) %}
{% endif %}

{% if page.topParent.header.lightslider %}
	{% set settings = settings|merge(page.topParent.header.lightslider) %}
{% endif %}

{% set settings = config.get('theme.lightslider')|merge(settings) %}
{% if settings.unique_id %}{% set unique_id = settings.unique_id %}{% else %}{% set unique_id = 'ls-' ~ random_string(10) %}{% endif %}


{{ dump(settings) }}

<div id="{{ unique_id }}-wrapper" class="grav-lightslider">
    {% if settings.slider_type == 'text' %}
    <ul id="{{ unique_id }}" style="{% if settings.type_text_height %}height: {{ settings.type_text_height }};{% endif %}">
        {% for panel in page.content|split('<hr />') %}
            {% set panel_media = page.media['image-'~loop.index~'.jpg'] %}
            {% set panel_image = panel_media.brightness(settings.type_text_brightness|default('-100')).url %}
            {% if panel_media and settings.gallery %}
                {% set panel_data_thumb = 'data-thumb=\"'~panel_media.cropResize(settings.gallery_thumb_width|default(100),settings.gallery_thumb_height|default(100)).url~'\"' %}
            {% endif %}
            <li {{ panel_data_thumb|raw }}>
                <div class="panel-bg" style="
                    {% if panel_image %}background-image: url({{ panel_image }});{% endif %}
                    min-height: {{ settings.type_text_min_height|default('auto') }};
                    height: {{ settings.type_text_height|default('auto') }};
                    ">
                    <div class="panel-padding {{ settings.type_text_css_class }}" style="
                        padding: {{ settings.type_text_vertical_padding|default(0) }} {{ settings.type_text_horizontal_padding|default(0) }}
                        ">
                        {{ panel|raw }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% elseif settings.slider_type == 'page' %}
    <ul id="{{ unique_id }}" {# style="{% if settings.type_text_height %}height: {{ settings.type_text_height }};{% endif %}" #}>
        {% set collection = header.content.template ? page.collection.ofType(header.content.template) : page.collection %}
        {% for page in collection %}
            {% set panel_media = page.media[page.header.hero_image]?: page.media.images|first %}

            {# fix croping of image if height is > width #}
            {% if settings.resize_to_square %}
                {% if panel_media.height != panel_media.width %}
                    {% if panel_media.height != panel_media.width %}
                        {% set max_dimension = panel_media.height > panel_media.width ? panel_media.height : panel_media.width %}
                    {% else %}
                        {% set max_dimension = panel_media.width %}
                    {% endif %}
                    {% set panel_media = panel_media.resize( max_dimension, max_dimension, settings.resize_bg_color) %}
                {% endif %}
            {% endif %}
            {% set panel_image = panel_media.brightness(settings.type_text_brightness|default('-100')).url %}
            {% if panel_media and settings.gallery %}
                {% set panel_data_thumb = 'data-thumb=\"'~panel_media.cropResize(settings.gallery_thumb_width|default(100),settings.gallery_thumb_height|default(100)).url~'\"' %}
            {% endif %}
            {{ dump(page.template) }}
            <li {{ panel_data_thumb|raw }}>
                <div class="panel-bg" style="
                    {% if panel_image %}background-image: url({{ panel_image }});{% endif %}
                    min-height: {{ settings.type_text_height|default('auto') }};
                    height: {{ settings.type_text_height|default('auto') }};
                    ">
                    <div class="panel-padding {{ settings.type_text_css_class }}" style="padding: {{ settings.type_text_vertical_padding|default(0) }} {{ settings.type_text_horizontal_padding|default(0) }} ">
                        {# this is a banner  #}
                        {% if settings.item == 1 %}
                            <h1>{{ page.header.banner_title }}</h1>
                            <h2 style="margin-bottom: 10px">{{ page.header.banner_text }}</h2>
                            <a href="{{page.url}}" class="btn">View more</a>
                        {% endif %}
                    </div>
                    {# this is a carousel #}
                    {% if settings.item > 1 %}
                        <div class="panel-footer">
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <ul id="{{ unique_id }}">
        {% for image in page.media.images %}
            {% if settings.gallery %}
                {% set image_data_thumb = 'data-thumb=\"'~image.cropResize(settings.gallery_thumb_width|default(100),settings.gallery_thumb_height|default(100)).url~'\"' %}
            {% endif %}
            <li {{ image_data_thumb }}>
                <img src="{{ image.url }}" />
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<script type="text/javascript">
  $(document).ready(function() {
    window.Grav = $.extend({}, window.Grav);
    window.Grav.plugins = $.extend({}, window.Grav.plugins);
    window.Grav.plugins.lightSlider = {};

    window.Grav.plugins.lightSlider['{{ unique_id }}'] = $("#{{ unique_id }}").lightSlider({
        item: {{ settings.item|default(1) }},
        slideMove: {{ settings.slideMove|default(3) }},
        slideMargin: {{ settings.slideMargin|default(5) }},
        mode: '{{ settings.mode|default('slide') }}',
        cssEasing: '{{ settings.cssEasing|default('ease') }}',
        easing: '{{ settings.easing|default('') }}',
        speed: {{ settings.speed|default(1000) }},
        auto: {{ settings.auto|default('false') }},
        loop: {{ settings.loop|default('false') }},
        pause: {{ settings.pause|default(2000) }},
        pauseOnHover: {{ settings.pauseOnHover|default(false) }},
        controls: {{ settings.controls|default('true') }},
        keyPress: {{ settings.keyPress|default('true') }},
        // adaptiveHeight: {{ settings.adaptiveHeight|default('true') }},
        vertical: {{ settings.vertical|default('false') }},
        verticalHeight: {{ settings.verticalHeight|default(500) }},
        pager: {{ settings.pager|default('true') }},
        gallery: {{ settings.gallery|default('false') }},
        galleryMargin: {{ settings.gallery_margin|default(5) }},
        thumbMargin: {{ settings.gallery_thumb_margin|default(5) }},
        enableTouch: {{ settings.enableTouch|default('true') }},
        enableDrag: {{ settings.enableDrag|default('true') }},
        adaptiveHeight: {{ settings.adaptiveHeight|default('false') }},
        thumbItem: {{ settings.thumbItem|default(10) }},
        {% if (settings.responsive) %} responsive: {{ json_encode(settings.responsive) }} {% endif %}
    });
  });
</script>