{% set item_col = show_sidebar ? 'col-8 col-md-12' : 'col-12' %}
{% set sidebar_col = show_sidebar ? 'col-4 col-md-12' : 'col-md-12' %}

<div class="columns">
	{% if show_sidebar %}
	<div id="sidebar" class="column {{ sidebar_col }}">
		{% block sidebar %}{% endblock %}
	</div>
	{% endif %}
	<div id="item" class="column {{ item_col }} extra-spacing">
		{% block item %}{% endblock %}
	</div>
</div>