<div class="card">
    {% set image = page.media.images|first %}
    {% if image %}
    <div class="card-image">
        <a href="{{ page.url }}">{{ image.cropZoom(800,400).html }}</a>
    </div>
    {% endif %}
    <div class="card-header">
        <div class="card-title">
            {% include 'partials/blog/title.html.twig' with {title_level: 'h5'} %}
        </div>
    </div>
    <div class="card-body">
        {# implement collection based summary length #}
        {{ page.summary(summary_size) }} 
   </div>
    <div class="card-footer">
        {% include 'partials/blog/taxonomy.html.twig' %}
    </div>
</div>
