<div class="sidebar-content">
	<span>
		<h4>{{ page.title|raw }}</h4>
	</span>
	{% include 'partials/portfolio/date.html.twig' %}
	<div class="columns text-center" style="padding-top: .5em; padding-bottom: .5em">
		<div class="column col-4 col-md-4">
	    {% if not page.isLast %}
	        <a class="btn" style="margin-top: .5em margin-bottom: .5em" href="{{ page.prevSibling.url }}"><i class="fa fa-angle-left"></i></a>
	    {% endif %}
	    </div>

	    <div class="column col-4 col-md-4">
	    	<a class="btn" style="margin-top: .5em margin-bottom: .5em" href="{{ page.topParent.url }}"><i class="fa fa-th"></i></a>
	    </div>

	    <div class="column col-4 col-md-4">
	    {% if not page.isFirst %}
	        <a class="btn" style="margin-top: .5em margin-bottom: .5em" href="{{ page.nextSibling.url }}"><i class="fa fa-angle-right"></i></a>
	    {% endif %}
	    </div>
    </div>
</div>
{% if portfolio_type != 'gallery' %}
<div class="sidebar-content">
	{{ dump(page) }}
	{{ page.content|raw }}
</div>
{% endif %}