/** Catalog Listing **/
.catalog-categories, .catalog-products {

    .bricklayer-column {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        margin-right: 5px;

    }
    .card {
        margin-bottom: 25px;
        border: 0;
    }
    .card-title {
        text-align: center;
    }
}
#catalog-details {
    h1 #sku {
        font-size: $unit-6;
    }
    h2 #sku {
        font-size: $unit-6;
    }
}

.thumbnail-list {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    > li {
        float: left !important;
        margin-bottom: 4px;
        margin-right: 4px;
        border: solid 1 px transparent;
    }

    > li.selected {
    border: solid 1px #000000;
    }
}

.finishes-thumbnail {
    width: 45px;
    height: 45px;
}

.link {
    color: $body-font-color;
    padding-left: 26px;
    position: relative;
    text-decoration: none;

    &::before {
        content: '\f016';
        position: absolute;
        font-family: 'FontAwesome';
        color: $primary-color;
        left: 0;
    }
}

/** Tweak headings **/
.catalog-categories, .catalog-products {
    h1, h2 {
        text-align: center;
    }
}

/** Pagination **/
ul.pagination {
  justify-content: center;
}

.prev-next {
  margin-top: 4rem;
}

@media screen and (min-width: 480px) {
    .catalog-categories, .catalog-products {
        .bricklayer-column-sizer {
            width: 50%;
        }
    }
}

@media screen and (min-width: 640px) {
    .catalog-categories, .catalog-products {
        .bricklayer-column-sizer {
            width: 33.3333%;
        }
    }
}

@media screen and (min-width: 980px) {
    .catalog-categories, .catalog-products {
        .bricklayer-column-sizer {
            width: 25%;
        }
    }
}

#catalog-info {
    h1, h2, h3, h4, h5, h6 {
        margin: 0.25em 0em;
    }
}