/** Portfolio Listing **/

@media screen and (min-width:$size-xs) {
	.portfolio-listing {
		.bricklayer-column-sizer {
			width: 100%
		}
	}
}

@media screen and (min-width:$size-sm) {
	.portfolio-listing {
		.bricklayer-column-sizer {
			width: 50%
		}
	}
}

@media screen and (min-width:$size-md) {
	.portfolio-listing {
		.bricklayer-column-sizer {
			width: 33.33333%
		}
	}
}

@media screen and (min-width:$size-lg) {
	.portfolio-listing {
		.bricklayer-column-sizer {
			width: 25%
		}
	}
}

#clientele {
	text-align: center;
	padding: 30px;


	img {
		max-height: 80px;
		width: auto;
		padding: 20px;
		vertical-align: middle;
	}

	.image-larger {
		max-height: 110px;
	}
}