{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', '/products')|default(true) %}
{% set show_pagination = header_var('show_pagination')|default(true) %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/bricklayer.css') %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% do assets.add('theme://js/bricklayer.min.js') %}
{% endblock %}
{% block body %}
    <section id="body-wrapper" class="section catalog-categories">
        <section class="container {{ grid_size }}">

        {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}

        {{ page.content|raw }}

        {% embed 'partials/catalog/layout.html.twig' with {catalog: page} %}
            {% block item %}

                <div class="bricklayer">
                {% for child in collection %}
                    {% if (child.header.unpublished is not defined or (child.header.unpublished == false)) %}
                        {% include 'partials/catalog/category-item.html.twig' with {catalog: page , page: child} %}
                    {% endif %}
                {% endfor %}
                </div>

                {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                    <div id="listing-footer">
                        {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                    </div>
                {% endif %}

            {% endblock %}

        {% endembed %}
        </section>
    </section>
    <script>
        //Bricklayer
        var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
    </script>
{% endblock %}
