{% extends 'partials/base.html.twig' %}

{% block javascripts %}
    {% do assets.add('theme://vendor/ddslick/jquery.ddslick.min.js') %}
    {{ parent() }}
{% endblock %}

{% block bottom %}
    {{ parent() }}
    <script type="text/javascript">
    var _ddlLoaded = false; // quick hack to disable first call of onSelected on load
    $('#availableFinishes').ddslick({
        imagePosition: "left",
        width: '100%',
        selectText: "Available Finishes",
        onSelected: function(data) {
            if (_ddlLoaded === false) {
                _ddlLoaded = true;
            }
            else
            {
                location.href = data.selectedData.value;
            }
        }
    });
    </script>
{% endblock %}

{% block body %}
<section id="body-wrapper" class="section catalog-listing">
    <section class="container {{ grid_size }}">

        {% if config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}

        {% embed 'partials/layout.html.twig' %}
            {% block item %}
                {% include 'partials/catalog/detail-item2.html.twig' %}
            {% endblock %}
            
        {% endembed %}

    </section>
</section>
{% endblock %}