{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', '/products')|default(true) %}
{% set show_pagination = header_var('show_pagination')|default(true) %}

{% if collection|length >=4 %}
    {% block stylesheets %}
        {% do assets.addCss('theme://css/bricklayer.css') %}
        {{ parent() }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {% do assets.add('theme://js/bricklayer.min.js') %}
    {% endblock %}
{% endif %}

{% block body %}

    {{ dump( collection|length ) }}
    <section id="body-wrapper" class="section catalog-categories">
        <section class="container {{ grid_size }}">

        {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}

        {{ page.content|raw }}
        {% if collection|length < 4 %}
        <div class="columns flex-top-centered">
            {% for child in collection %}
            <div id="item" class="column col-3 col-lg-4 col-sm-12 extra-spacing">
                    {% if (child.header.unpublished is not defined or (child.header.unpublished == false)) %}
                        {% include 'partials/catalog/category-item.html.twig' with {catalog: page , page: child} %}
                    {% endif %}
            </div>
            {% endfor %}
        </div>
        {% else %}

        {# disable bricklayer for < 4 items #}
        {% embed 'partials/catalog/layout.html.twig' with {catalog: page} %}
            {% block item %}
                <div class="bricklayer">
                {% for child in collection %}
                    {% if (child.header.unpublished is not defined or (child.header.unpublished == false)) %}
                        {% include 'partials/catalog/category-item.html.twig' with {catalog: page , page: child} %}
                    {% endif %}
                {% endfor %}
                </div>

                {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                    <div id="listing-footer">
                        {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                    </div>
                {% endif %}

            {% endblock %}
        {% endembed %}
        {% endif %}

        </section>
    </section>
    {% if collection|length >= 4 %}
    <script>
        //Bricklayer
        var bricklayer = new Bricklayer(document.querySelector('.bricklayer'));
    </script>
    {% endif %}
{% endblock %}
