{% extends 'partials/base.html.twig' %}
{# {% set blog = page.find(theme_var('blog-page')|default('/blog')) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog]) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])  %}
{% set show_pagination = header_var('show_pagination', [page, blog]) %}
 #}


 {# add lightslider #}
{#  {% block stylesheets %}
    {% do assets.addCss('theme://vendor/lightslider/css/lightslider'~compress) %}
    {% do assets.addCss('theme://css/lightslider-custom.css') %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {% do assets.add('theme://vendor/lightslider/js/lightslider.min.js') %}
    {{ parent() }}
{% endblock %} #}

{# add unitegallery #}
{% block stylesheets %}
    {% do assets.addCss('theme://vendor/unitegallery/dist/css/unite-gallery.css') %}
    {# {% do assets.addCss('theme://vendor/unitegallery/dist/themes/default/ug-theme-default.css') %} #}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {% do assets.add('theme://vendor/unitegallery/dist/js/unitegallery.min.js') %}
    {% do assets.add('theme://vendor/unitegallery/dist/themes/compact/ug-theme-compact.js') %}
    {{ parent() }}
{% endblock %}

{% block body %}
<section id="body-wrapper" class="section catalog-listing">
    <section class="container {{ grid_size }}">

        {% if config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}

        {% embed 'partials/layout.html.twig' %}
            {% block item %}
                {% include 'partials/catalog/detail-item.html.twig' %}
            {% endblock %}
            
            {# {% block sidebar %}
                {% include 'partials/sidebar.html.twig' %}
            {% endblock %} #}
            
        {% endembed %}

    </section>
</section>
{% endblock %}

