{% extends 'partials/base.html.twig' %}
{% set portfolio = page.find(theme_var('portfolio-page')|default('/portfolio')) %}
{% set portfolio_type = header_var('portfolio-type', [page, portfolio]) %}
{% set show_sidebar = header_var('show_sidebar', [page, portfolio]) %}

{% block stylesheets %}
	{% do assets.addCss('theme://vendor/lightslider/css/lightslider'~compress) %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% do assets.add('theme://vendor/lightslider/js/lightslider.min.js') %}
{% endblock %}

{% block body %}
<section id="body-wrapper" class="section portfolio-listing">
	<section class="container {{ grid_size }}">
		{{ dump(page.topParent) }}

		{% embed 'partials/portfolio/layout.html.twig' %}
			{% block sidebar %}
				{% include 'partials/portfolio/sidebar.html.twig' with {page: page } %}
			{% endblock %}
			{% block item %}
				{% include 'partials/portfolio/item-detail.html.twig' %}
			{% endblock %}
		{% endembed %}
	</section>
</section>
{% endblock %}