{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}
{% set portfolio_page = config.get('theme.portfolio-page') %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', portfolio_page)|default(false) %}
{% set show_sidebar = header_var('show_sidebar')|default(false) %}
{% set show_pagination = header_var('show_pagination')|default(true) %}
{% set summary_size = page.header.summary.size|default(120) %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/bricklayer.css') %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% do assets.add('theme://js/bricklayer.min.js') %}
{% endblock %}

{% block body %}
    {{ dump(show_breadcrumbs) }}
    <section id="body-wrapper" class="section portfolio-listing">
        <section class="container {{ grid_size }}">

        {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}

            <div class="columns">
                <div id="item" class="col-12">

                {{ page.content | raw }}

                <div class="bricklayer">
                {% for child in collection %}
                    {% include 'partials/portfolio/list-item.html.twig' with {portfolio: page, page: child, summary_size: summary_size} %}  
                {% endfor %}
                </div>

                {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                    <div id="listing-footer">
                        {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                    </div>
                {% endif %}

                </div>
            </div>
        </section>
    </section>
    <script>
        //Bricklayer
        var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
    </script>
{% endblock %}
